/* _____ override default css margins & paddings + set font-family */
*{
    margin: 0;
    padding:0;
}

html, body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    flex: 1;
}

/* _____ start of common-across-all-sections styling */

.page{
    width: 80%;
    border-radius: 10px;
    background-color: rgb(154, 176, 196);
    padding: 30px;
    transition: transform 0.4s, max-width 0.3s ease-in, box-shadow 0.4s;
}

.first-page:hover{
    transform: scale(1.08);
    box-shadow: 8px 8px 2px rgb(66, 66, 66);
}

.first-page{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: rgb(247, 247, 247);
    transition: color 0.2s;
}

a:hover{
    color: rgb(0, 0, 47);
}

#first-section, #second-section{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
/* _____ end of common-across-all-sections styling */
/* _____ start of first page styling */

.headings{
    text-align: center;
}

.main-heading{
    display: flex;
    flex-flow: row nowrap;
    color: rgb(247, 247, 247);
}

.logo{
    width: 600px;
}

.sub-heading{
    font-size: 1.3rem;
}

/* _____ start of instructions section design */

#instructions{
    background-color: rgb(24, 24, 63);
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-items: center;
    color: rgb(247, 247, 247);
}

#instructions h3{
    margin: 10px 0;
    font-size: 2rem;
    text-decoration: underline;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

#instructions h4{
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 500;
}

#instructions p{
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-align: center;
}

#instructions .instructions-end{
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

#instructions ul{
    padding: 0 20px;
}

ol{
    padding: 0 20px;
}

li{
    font-size: 0.8rem;
    margin: 5px 0;
    padding: 0 5px;
}
/* _____ end of instructions section design */
/* _____ start of name input styling */

.name-input-field{
    margin: 90px 0;
    display: flex;
    flex-flow: column nowrap;
}

.name-input{
    display: flex;
    align-items: center;
}

.name-input-field label{
    font-size: 1.2rem;
    font-weight: 500;
}

#name{
    padding: 8px;
    margin-left: 15px;
    font-size: 0.8rem;
    outline: none;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 2px;
    transition: all 0.3s ease;
}

#name:focus, #answer-box:focus, #revision-answer-box:focus{
    border: 2px solid rgb(22, 47, 89);
}

.error{
    font-size: 0.9rem;
    height: 20px;
    text-align: end;
    color: rgb(247, 247, 247);
    margin-top: 5px;
}

/* _____ end of name input styling */
/* _____ start of button category styling */

.categories{
    display: flex;
    flex-flow: row wrap;
}

.category{
    padding: 40px;
}

.category button{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgb(24, 24, 63);
    transition: background-color 0.1s ease;
}

.category button:hover{
    background-color: rgb(193, 193, 193);
}

.category button:active{
    border: 2px solid rgb(154, 176, 196);
}

.button-category::after{
    content: attr(id);
    position: relative;
    top: 2.2em;
    font-weight: 500;
    text-transform: capitalize;
}

.operator{
    margin-top: 12px;
    transform: scale(1.2);
}

/* _____end of button category styling */
/* _____ end of first page styling */
/* _____ start of second page styling */

.second-page{
    display: none;
    height: 600px;
}

.content{
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.field{
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

/* accessed and modified in javascript */

#game-field, #revision-field{
    transition: transform 0.6s ease;
}

#game-field{
    position: absolute;
    z-index: 10;
}

.game-intro, .revision-field h3{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

#points{
    color: rgb(207, 63, 38);
}

.game-section{
    margin: 20px 0;
}

.panel{
    background-color: white;
    border-radius: 3px;
    box-shadow: 5px 5px rgba(45, 45, 45, 0.8);
}

.game-task{
    padding: 20px;
    width: 500px;
}

.question-area, .revision-task{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.answer-box{
    padding: 5px;
    outline: none;
    border: 2px solid white;
    border-bottom: 2px solid rgb(37, 37, 37);
}

.time-bar{
    margin-top: 30px;
    background-color: rgb(247, 247, 247);
    height: 10px;
    width: 100%;
}

#time-progress{
    width: 1%;
    height: 10px;
    background-color: rgb(255, 45, 17);
}

.user-controls{
    height: 250px;
    display: flex;
    align-items: end;
    position: absolute;
    top: 80px;
}

.user-controls button{
    width: 110px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1rem;
}

/* submit button styling */

button[data-type = submit], button[data-type = exit]{
    margin-left: 30px;
}

.score-tracking{
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

.scores{
    padding: 0 20px;
    font-size: 1.2rem;
}

#right-answer{
    color: rgb(65, 187, 65);
}

#wrong-answer{
    color: rgb(189, 0, 0);
}

.score-span{
    font-weight: 600;
}

/* _____ start of revision area styling */

#revision-game{
    display: none;
}

.revision-panel-field{
    width: 500px;
    max-height: 75px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.revision-panel{
    padding: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#revision-answer-box{
    margin-left: 15px;
}

.revision-heading h4{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 20px 0;
}

.revision-tabs{
    height: 100%;
    width: 40px;
}

.tab{
    background-color: rgb(38, 67, 57);
    color: white;
    margin: 2px 0;
    height: 30px;
    width: 40px;
    border-top-left-radius: 7px;
    text-align: center;
    transition: width 0.2s, transform 0.2s;
}

.selected{
    width: 50px;
    transform: translateX(-10px);
}
/* _____ end of revision area styling */
/* _____ end of second page styling */
/* _____ start of footer styling */

footer{
    height: 80px;
    background-color: rgb(18, 31, 43);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(247, 247, 247);
}

.terms-conditions{
    margin-left: 20px;
}

.terms-conditions h4, .copyright h4{
    font-size: 1rem;
    font-weight: 400;
}

.socials{
    margin-right: 20px;
}

.socials a{
    width: 20px;
    height: 20px;
    padding: 20px;
}
/* _____ end of footer styling */
/* _____ start of media queries */

@media all and (max-width: 1230px){
    #first-page{
        flex-flow: column nowrap;
        align-items: center;
        max-width: calc(100% - 50px);
        margin: 10px;
    }

    #instructions{
        width: calc(100% - 50px);
        align-items: center;
    }

    #instructions h4{
        margin-top: 35px;
    }
}

@media all and (max-width: 950px){

    /* footer styling */

    footer{
        flex-flow: column nowrap;
        height: 110px;
    }

    .terms-conditions{
        margin-left: 0px;
    }

    .terms-conditions h4, .copyright h4{
        font-size: 0.9rem;
    }

    .copyright h4{
        margin-top: 10px;
        font-weight: 600;
    }

    .terms-conditions{
        margin-top: 10px;
    }

    .socials a{
        padding: 0 10px;
    }
}
@media all and (max-width: 700px){

    /* page 1 styling */

    .logo{
        width: 300px;
    }

    .sub-heading{
        font-size: 0.9rem;
    }

    .name-input-field label{
        font-size: 0.9rem;
    }

    .name-input-field{
        margin: 40px 0;
    }

    .categories{
        flex-flow: column nowrap;
        padding: 0;
    }

    .category{
        padding: 25px;
    }

    /* page 2 styling */

    .content{
        justify-content: center;
    }
    
    .game-field{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .panel{
        max-width: 300px;
    }

    .game-task, .revision-panel{
        padding: 5px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .question-area, .revision-task{
        max-width: 280px;
        padding: 5px;
        font-size: 1rem;
    }

    .score-tracking{
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0;
    }

    .scores{
        font-size: 0.9rem;
    }
}
/* _____ end of media queries */