/* _____ override default css margins & paddings + set font-family */
*{
    margin: 0;
    padding:0;
}

html, body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    flex: 1;
}

/* _____ start of common-across-all-sections styling */
.page{
    background-color: rgb(154, 176, 196);
    border-radius: 15px;
    padding: 30px;
    min-height: 500px;
    max-width: 700px;
    box-shadow: 8px 8px 2px rgb(66, 66, 66);
    transition: transform 0.4s, max-width 0.3s ease-in;
}

.first-page:hover{
    transform: scale(1.08);
}

.first-page{
    position: absolute;
    z-index: 10;
}

a{
    text-decoration: none;
    color: white;
    transition: color 0.2s;
}

a:hover{
    color: rgb(0, 0, 47);
}

#first-section, #second-section{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

/* _____ end of common-across-all-sections styling */

/* _____ start of first page styling */

.headings{
    text-align: center;
}

.main-heading{
    display: flex;
    flex-flow: row nowrap;
    color: white;
}

.logo{
    width: 600px;
}

.sub-heading{
    font-size: 1.3rem;
}

/* _____ start of name input styling */

.name-input-field{
    margin: 90px 0;
    display: flex;
    flex-flow: column nowrap;
}

.name-input-field label{
    font-size: 1rem;
}

#name{
    padding: 5px;
    margin-left: 10px;
    font-size: 0.8rem;
    outline: none;
    border: 2px solid white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

#name:focus, #answer-box:focus, #revision-answer-box:focus{
    border: 2px solid rgb(22, 47, 89);
}

.error{
    font-size: 0.9rem;
    text-align: end;
    color: white;
    margin-top: 5px;
}

/* _____ end of name input styling */
/* _____ start of button category styling */
.categories{
    display: flex;
    flex-flow: row wrap;
}

.category{
    padding: 40px;
}

.category button{
    width: 75px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    border: 2px solid transparent;
    transition: background-color 0.1s ease;
}

.category button:hover{
    background-color: rgb(193, 193, 193);
}

.category button:active{
    border: 2px solid rgb(154, 176, 196);
}

.button-category::after{
    content: attr(id);
    position: relative;
    top: 2em;
}

.operator{
    margin-top: 12px;
    transform: scale(1.2);
}
/* _____end of button category styling */
/* _____ end of first page styling */

/* _____ start of second page styling */

.second-page{
width: 1200px;
display: none;
}

.content{
    padding: 1%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.field{
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

/* accessed and modified in javascript */
#game-field, #revision-field{
    transition: transform 0.6s ease;
}

.game-field h3{
    font-size: 1.5rem;
    color: white;
}

.game-section{
    margin: 20px 0;
}

.game-intro{
    font-size: 1rem;
    font-weight: 600;
}

.panel{
    background-color: rgb(255, 255, 244);
    border-radius: 3px;
    box-shadow: 5px 5px rgba(45, 45, 45, 0.8);
}

.game-panel{
    max-height: 300px;
    width: 350px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.game-task{
    margin-left: 10px;
    margin-top: 95px;
}

.question-area{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-area-container, .revision-area-container{
    margin-right: 40px;
}

.answer-box{
    padding: 5px;
    outline: none;
    border: 2px solid white;
    border-bottom: 2px solid rgb(37, 37, 37);
}

.time-bar{
    background-color: rgb(207, 207, 207);
    height: 15px;
    border-radius: 3px;
}

#time-progress{
    width: 1%;
    height: 15px;
    background-color: rgb(60, 68, 156);
    border-radius: 3px;
    transition: width ease;
}

.user-controls button{
    width: 80px;
    padding: 7px 20px;
    border: 1px solid white;
    border-radius: 5px;
}

button[data-type=submit]{
    margin-left: 30px;
}

.revision-field{
    width: 300px;
}

.score-tracking{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

.scores{
    margin-top: 40px;
    padding: 0 20px;
    font-size: 1.2rem;
}

.score-span{
    font-weight: 600;
}

.revision-panel{
    min-height: 100px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.revision-panel-field{
    min-height: 150px;
    width: 400px;
    display: flex;
    flex-flow: row nowrap;
}

.revision-heading h4{
    margin-left: 40px;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    margin-top: 25px;
    margin-bottom: 40px;
}

.revision-tabs{
    height: 100%;
}

.tab{
    background-color: aquamarine;
    margin: 2px 0;
    height: 30px;
    width: 40px;
    border-top-left-radius: 7px;
    text-align: center;
}

.revision-tabs .selected{
    background-color: orange;
}

.revision-aids{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.revision-task{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 80px;
    font-size: 1.3rem;
}

.user-controls-revision{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

button[data-type = exit]{
    width: 110px;
}
/* _____ end of second page styling */

/* _____ start of footer styling */
footer{
    height: 80px;
    background-color: rgb(77, 118, 154);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.terms-conditions{
    margin-left: 20px;
}

.terms-conditions h4, .copyright h4{
    font-size: 1rem;
    font-weight: 400;
}

.socials{
    margin-right: 20px;
}

.socials a{
    width: 20px;
    height: 20px;
    padding: 20px;
}
/* _____ end of footer styling */
/* _____ start of media queries */
@media all and (max-width: 770px){
    /* page 1 styling */
    .page{
        max-width: 400px;
        height: 400px;
    }

    .logo{
        width: 400px;
    }

    .sub-heading{
        font-size: 1rem;
    }

    .name-input-field label{
        font-size: 0.8rem;
    }

    .name-input-field{
        margin: 40px 0;
    }

    .categories{
        flex-flow: column nowrap;
        padding: 0;
    }

    .category{
        padding: 25px;
    }
    /* page 2 styling */
    .second-page{
        max-width: 400px;
        height: 100%;
    }

    .content{
        padding: 0;
        flex-flow: column nowrap;
        align-items: flex-start;
        align-items: center;
    }
    .field{
        padding: 0;
    }

    .game-field{
        margin-left: 0;
    }

    .game-intro{
        text-align: center;
    }

    .game-field h3{
        font-size: 1.4rem;
    }

    .panel{
        max-width: 350px;
    }

    .game-panel{
        height: 120px;
        justify-content: space-between;
    }

    .game-task{
        margin-left: 0;
        margin-top: 25px;
    }

    .user-controls-game{
        display: flex;
        justify-content: space-around;
    }
    
    button[data-type = submit]{
        margin-left: 0;
    }

    .score-tracking{
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .scores{
        font-size: 1.1rem;
    }

    .revision-panel-field{
        justify-content: center;
    }
    
    .revision-task{
        margin-bottom: 0px;
        font-size: 1.4rem;
    }
    
    .user-controls-revision{
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
    }

    .user-controls-revision{
        justify-content: center;
    }

    /* footer styling */
    footer{
        flex-flow: column nowrap;
        height: 110px;
    }

    .terms-conditions{
        margin-left: 0px;
    }
    
    .terms-conditions h4, .copyright h4{
        font-size: 0.8rem;
    }

    .copyright h4{
        margin-top: 10px;
        font-weight: 600;
    }

    .terms-conditions{
        margin-top: 10px;
    }
}
/* _____ end of media queries */